* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #052257;
    height: 70px;
}

#logo a{
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-size: 18px;
}

ul {
    list-style-type: none;
    display: flex;
}

ul li {
    padding: 5px;

}

ul li a {
    text-decoration: none;
    padding: 20px;
    color: white;
    font-size: 18px;

}

ul li a:hover {
    color: rgb(231, 223, 223);
    transition: 0.3s ease;
}

.register a{
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-size: 18px;
    border: 1px transparent black;
    padding: 12px;
    border-radius: 10px;
    background-color: rgb(241, 17, 17);
    color: rgb(226, 212, 212);
}

.register a:hover{
    background-color: rgb(172, 13, 13);
    transition: 0.2s ease;
}


header {
    background-image: url(./medias/headerimg.jpg);
    height: 100vh;
    background-repeat: no-repeat;
}

.wrapper {
    display: flex;
    margin-top: 20px;
}


.twrap {
    color: white;
    margin-left: 300px;
    font-size: 80px;
    margin-top: 40px;
    
}

span {
    font-weight: bold;
}

.twrap h2, .twrap p,.twrap span {
    font-family: times;
}

.hottest-location {
    height: 600px;
    max-width: 100%;
    background-image: url(medias/quebec2.jpg);
    
}

.hottest-location h4 {
    background-color: #ffffffad;
    font-size: 22px;
    padding: 20px;
    text-align: center;
    color: rgb(29, 29, 155);
}

.flight-search {
    margin: auto;
    background-color: rgb(192, 47, 47);
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}

.flight-search a{
    color: white;
    
}

#note {
    font-size: 22px;
    text-align: center;
    background-color: #052257;
    color: white;
    height: 50px;
    padding-top: 20px;
}

.flight-cards {
    background-color: rgba(209, 205, 205, 0.164);
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-bottom: 30px;
    background-image: url(medias/montreal.jpg);
}

.grid-card {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 250px;
    width: 400px;
    align-content: space-around;
    background-color: #ffffffbd;
    box-shadow: 20px;
    padding-left: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;


}

.grid-card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); /* deeper shadow on hover */
  }

.grid-card span {
    color: rgb(29, 29, 155);
}

.grid-card a {
    background-color: rgb(226, 22, 22);
    padding: 10px;
    width: max-content;
    color: white;
    margin-left: 35%;

}

.grid-card a:hover {
    background-color: rgb(202, 48, 48);
    transition: 0.4s ease;
}

.grid-subcard {
    margin-left: auto;
    padding-right: 10px;
}



.footer-flex {
    display: flex;
    flex-direction: column;
    background-color: #052257;
    align-items: center;
    padding: 10px;
}

.footer-flex h5 {
    color: white;
    font-size: 16px;
}

.footer-flex a {
    color: white;
    font-size: 14px;
    margin: 5px;
}

